html{
    background-image:url(timg.jpg);
}

#header{
    text-align:center;
    color:white;
    padding-bottom:10px;
}

body{
     display:flex;
    flex-direction:column;
}

#lists{
    display:inline;
    background-color:gray;
    padding-left:50px;
    padding-right:50px;
}

#aside{
    color:white;
    text-align:center;
    width:auto;
    padding-top:10px;
    padding-bottom:20px;
}

#main{
    color:white;
    float:left;
}

#article{
    width:auto;
    height:auto;
    padding:20px;
   
}

#footer{
    text-align:center;
    color:white;
}

a:link{
    background-color:gray;
   
}

a:hover{
    background-color:burlywood;
}